<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Management</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header>
  <div th:replace="fragments:: adminHeader"></div>
</header>

<div class="container">
  <h2>User Management</h2>

  <a href="/admin/users/add" class="btn btn-primary">Add User</a>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Phone</th>

      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.fullName}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.phoneNumber}"></td>

      <!-- STATUS BADGES -->


      <!-- ACTION BUTTONS -->
      <td class="actions">

        <a th:href="@{'/admin/users/edit/' + ${user.id}}"
           class="btn btn-edit btn-small">Edit</a>

        <a th:if="${user.status != 'BLOCKED'}"
           th:href="@{'/admin/users/delete/' + ${user.id}}"
           class="btn btn-block btn-small">Delete</a>



      </td>
    </tr>

    <tr th:if="${users.size()} == 0">
      <td colspan="7" class="text-muted">No users found</td>
    </tr>
    </tbody>
  </table>
</div>

<footer th:replace="fragments::footer"></footer>

</body>
</html>
